{% extends 'base.html' %}

{% block title %}Trainee List{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Trainee List</h2>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>  
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
            <tr>
                <td>{{ trainee.id }}</td>
                <td>s
                    {% if trainee.picture %}
                        <img src="{{ trainee.picture.url }}" alt="{{ trainee.name }}" class="img-thumbnail" style="width: 50px; height: 50px;">
                    {% else %}
                        <img src="https://via.placeholder.com/50" alt="No Picture" class="img-thumbnail" style="width: 50px; height: 50px;">
                    {% endif %}
                </td>
                <td>{{ trainee.name }}</td>
                <td>{{ trainee.email }}</td>
                <td>
                    {% if trainee.courses.all %}
                        <ul>
                            {% for course in trainee.courses.all %}
                                <li>{{ course.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span>No courses assigned</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{% url 'trainee_update' trainee.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'trainee_delete' trainee.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No trainees found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'trainee_add' %}">Add New Trainee</a>

</div>
{% endblock %}
